{% extends 'include/include.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="../../static/assets/libs/quill/dist/quill.snow.css" />
<style>
.hidden-row { display: none; }
.clickable-row { cursor: pointer; transition: background-color 0.3s ease; }
.clickable-row:hover { text-decoration: underline; background-color: #b0b0b0; }
.data-utama { background-color: #e6f7ff; /* Biru muda lembut */ color: #000; /* Warna teks hitam */ }
.sub-detail { background-color: #d9f7be; /* Hijau muda lembut */ color: #000; /* Warna teks hitam */ }
.sub-rab { background-color: #fffbe6; /* Kuning pastel lembut */ color: #000; /* Warna teks hitam */ }
.head-sub-rab { background-color: #bae7ff; /* Biru sedikit lebih gelap dari data utama */ color: #000; /* Warna teks hitam */ }
.jumlah{ background-color: #e7e9f0; ; /* Biru sedikit lebih gelap dari data utama */ color: #000; /* Warna teks hitam */ }
.dataTables_wrapper .dataTables_filter { float: left; text-align: left; margin-right: 10px; }
.scroll-table {
  max-height: 500px; /* This will show approximately 6 rows */
  overflow-y: scroll;
}
.custom-table-pendapatan thead { background-color: #28a745; color: white; }
.custom-table-pendapatan tbody tr { background-color: #e9f7ef; }
.custom-table-pendapatan tbody tr:hover { background-color: #c3e6cb; }
.custom-table-pengeluaran thead { background-color: #dc3545; color: white; }
.custom-table-pengeluaran tbody tr { background-color: #f8d7da; }
.custom-table-pengeluaran tbody tr:hover { background-color: #f5c6cb; }
.custom-table tbody td { border: 1px solid #dee2e6; }
.summary-text { font-weight: bold; margin-bottom: 18px; line-height: 1.5; font-size: 1.2em; letter-spacing: 0.5px; }
  .ql-toolbar .ql-formats svg {
    width: 20px; /* Lebar ikon */
    height: 20px; /* Tinggi ikon */
}
  .ql-toolbar .ql-formats ql-align svg{
    padding-bottom:5px;
}
</style>
<script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
<script>
  function handleAjax(url, method, data, onSuccess, onError) {
    $.ajax({
      url: url,
      method: method,
      data: JSON.stringify(data),
      contentType: 'application/json',
      headers: { 'Authorization': 'Bearer ' + "{{ session['jwt_token'] }}" },
      success: onSuccess,
      error: onError
    });
  }

  function showModal(title, body, onSubmit) {
    document.getElementById('modal-title').innerText = title;
    document.getElementById('modal-body').innerHTML = body;
    document.getElementById('modal-submit').onclick = onSubmit;
    $('#generic-modal').modal('show');
  }

  function tambahBaris(category,tahun_lama) {
    $("#modal-submit").show()
       showModal(
        `Tambah Baris ${category}`,
        `
        <input type="hidden" id="tahun_lama_baris" value="${tahun_lama}">
        <input type="hidden" id="kategori_baris" value="${category}"> <div class="form-group"> 
        <label for="no">No</label> <input type="number" id="no_baris" class="form-control"> </div>

        ${category === 'anggaran' ? `
        <div class="form-group"> <label for="uraian">Uraian</label> <input type="text" id="uraian_baris" class="form-control"> </div>
        <div class="form-group"> <label for="anggaran">Anggaran</label> <input type="text" oninput="formatRupiah(this)" placeholder="0" id="anggaran_baris" class="form-control"> </div>
        <div class="form-group">
            <label for="type">Type</label>
            <select class="form-select" id="typedropdownSelect">
                <option selected>Pilih...</option>
                <option value="pengeluaran">Pengeluaran</option>
                <option value="pendapatan">Pendapatan</option>
            </select>
        </div>` : `
        <div class="form-group"> <label for="keterangan">Tanggal</label> <input type="date" id="tanggal_baris" class="form-control"> </div>
        <div class="form-group"> <label for="keterangan">Keterangan</label> <input type="text" id="keterangan_baris" class="form-control"> </div>
        <div class="form-group"> <label for="nominal">Nominal</label> <input type="text" oninput="formatRupiah(this)" placeholder="0" id="nominal_baris" class="form-control"> </div>
        <div class="form-group">
            <label for="alokasi">Alokasi</label>
            <select class="form-select" id="alokasidropdownSelect">
                <option selected>Pilih...</option>
                    {% for i in info_list %}
                        <option value="{{ i.id }}-{{ i.uraian }}">{{ i.uraian }}</option>
                   {% endfor %}
            </select>
        </div>`}
        <div class="form-group"> <label for="tahun">Tahun</label> <input type="number" id="tahun_baris"min="1000" max="9999" class="form-control"> </div>
        `,
       function() {
          // Siapkan data untuk dikirim berdasarkan kategori
            const data = {
                tahun_lama: $("#tahun_lama_baris").val(),
                kategori: $("#kategori_baris").val(),
                no: $("#no_baris").val(),
                tahun_baru: $('#tahun_baris').val(),
                rab: 0
            };

            // Jika kategori adalah 'Anggaran', tambahkan data terkait Anggaran
            if (category === 'anggaran') {
                data.uraian = $('#uraian_baris').val();
                data.anggaran = normalizeValue($('#anggaran_baris').val());
                data.type = $('#typedropdownSelect').val();
            } else {
                // Jika kategori bukan 'Anggaran', tambahkan data terkait transaksi lainnya
                data.tanggal = $('#tanggal_baris').val();
                data.keterangan = $('#keterangan_baris').val();
                data.nominal = normalizeValue($('#nominal_baris').val());
                data.alokasi = $('#alokasidropdownSelect').val();
            }
        handleAjax(
          '/admin/dana_new/tambah/id',
          'POST',
          data,
          function(response) {  window.location.reload()},
          function(xhr, status, error) { console.error("Error:", error); }
        );
       }
    );
  }
   function tambahBaris3() {
    $("#modal-submit").show()
       showModal(
        'Tambah Baris Anggaran',
        `
        <input type="hidden" id="tahun_lama_baris" value="0">
        <input type="hidden" id="kategori_baris" value="anggaran"> <div class="form-group"> 
        <label for="no">No</label> <input type="number" id="no_baris" class="form-control"> </div>
        <div class="form-group"> <label for="uraian">Uraian</label> <input type="text" id="uraian_baris" class="form-control"> </div>
        <div class="form-group"> <label for="anggaran">Anggaran</label> <input type="text" oninput="formatRupiah(this)" placeholder="0" id="anggaran_baris" class="form-control"> </div>
        <div class="form-group">
            <label for="type">Type</label>
            <select class="form-select" id="typedropdownSelect">
                <option selected>Pilih...</option>
                <option value="pengeluaran">Pengeluaran</option>
                <option value="pendapatan">Pendapatan</option>
            </select>
        </div>
        <div class="form-group"> <label for="tahun">Tahun</label> <input type="number" min="1000" max="9999" id="tahun_baris" class="form-control"> </div>
        `,
       function() {
          // Siapkan data untuk dikirim berdasarkan kategori
            const data = {
                tahun_lama: $("#tahun_lama_baris").val(),
                kategori: $("#kategori_baris").val(),
                no: $("#no_baris").val(),
                tahun_baru: $('#tahun_baris').val(),
                rab: 0
            };

            // Jika kategori adalah 'Anggaran', tambahkan data terkait Anggaran
            var category = $("#kategori_baris").val();
            if (category === 'anggaran') {
                data.uraian = $('#uraian_baris').val();
                data.anggaran = $('#anggaran_baris').val();
                data.type = $('#typedropdownSelect').val();
            } else {
                // Jika kategori bukan 'Anggaran', tambahkan data terkait transaksi lainnya
                data.tanggal = $('#tanggal_baris').val();
                data.keterangan = $('#keterangan_baris').val();
                data.nominal = $('#nominal_baris').val();
                data.alokasi = $('#alokasidropdownSelect').val();
            }
        handleAjax(
          '/admin/dana_new/tambah/id',
          'POST',
          data,
          function(response) {  window.location.reload()},
          function(xhr, status, error) { console.error("Error:", error); }
        );
       }
    );
  }
 function ubahLabel() {
    const isRab = document.querySelector('input[name="rab"]:checked').value;
    const label1 = document.getElementById('label1');
    const label2 = document.getElementById('label2');
    const label3 = document.getElementById('label3');
    const label4 = document.getElementById('label4');
    const rab = document.getElementById('rab');
    
    if (isRab === '1') {
        label1.textContent = "Volume";
        label2.textContent = "Satuan";
        label3.textContent = "Harga Satuan (Rp)";
        label4.textContent = "Jumlah (Rp)";
    } else {
        label1.textContent = "Anggaran";
        label2.textContent = "Realisasi";
        label3.textContent = "Lebih/(Kurang)";
        label4.textContent = "Tahun";
    }
}

// Fungsi untuk format currency
function formatCurrency(value) {
  return new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR' }).format(value);
}
function summary(
    tahun, 
    pesan_pendapatan, jml_anggaran_pendapatan, jml_realisasi_pendapatan, jml_lebih_kurang_pendapatan,
    pesan_pengeluaran, jml_anggaran_pengeluaran, jml_realisasi_pengeluaran, jml_lebih_kurang_pengeluaran
) {
    $("#modal-submit").hide()
    // Konten untuk tabel pendapatan
	const info_list3 = JSON.parse('{{info_list3| tojson | safe}}')
	console.log(info_list3)
    const pendapatanTable = `
    <div class="table-responsive scroll-table">
        <table class="table custom-table-pendapatan">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Uraian</th>
                    <th>Anggaran</th>
                    <th>Realisasi</th>
                    <th>Lebih/Kurang</th>
                </tr>
            </thead>
            <tbody>
				${info_list3.filter(item => item.type === 'pendapatan' && item.tahun === tahun).map((item, index) => `
				  <tr>
					<td>${index + 1}</td>
					<td>${item.uraian}</td>
					<td>${formatCurrency(item.anggaran)}</td>
					<td>${formatCurrency(item.realisasi)}</td>
					<td>${formatCurrency(item.lebih_kurang)}</td>
				  </tr>
				`).join('')}
                <tr>
					<td></td>
                    <td>Jumlah</td>
                    <td>${jml_anggaran_pendapatan}</td>
                    <td>${jml_realisasi_pendapatan}</td>
                    <td>${jml_lebih_kurang_pendapatan}</td>
                </tr>
            </tbody>
        </table>
      </div>
    `;

    // Konten untuk tabel pengeluaran
    const pengeluaranTable = `
    <div class="table-responsive scroll-table">
        <table class="table custom-table-pengeluaran">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Uraian</th>
                    <th>Anggaran</th>
                    <th>Realisasi</th>
                    <th>Lebih/Kurang</th>
                </tr>
            </thead>
            <tbody>
				 ${info_list3.filter(item => item.type === 'pengeluaran' && item.tahun === tahun).map((item, index) => `
				  <tr>
                    <td>${index + 1}</td>
					<td>${item.uraian}</td>
					<td>${formatCurrency(item.anggaran)}</td>
					<td>${formatCurrency(item.realisasi)}</td>
					<td>${formatCurrency(item.lebih_kurang)}</td>
				  </tr>
				 `).join('')}
                <tr>
					<td></td>
                    <td><strong>Jumlah</strong></td>
                    <td><strong>${jml_anggaran_pengeluaran}</strong></td>
                    <td><strong>${jml_realisasi_pengeluaran}</strong></td>
                    <td><strong>${jml_lebih_kurang_pengeluaran}</strong></td>
                </tr>
            </tbody>
        </table>
        </div>
    `;

    // Gabungan konten modal dengan pesan pendapatan dan pengeluaran serta tabel
    const modalContent = `
        <span class="mb-4 summary-text">Pendapatan tahun ${tahun}</span><br>
        ${pendapatanTable}
        <span class="mb-2 summary-text">Summary : ${pesan_pendapatan}</span><br><hr>
        <span class="mb-4 summary-text">Pengeluaran tahun ${tahun}</span><br>   
        ${pengeluaranTable}
        <span class="mb-2 summary-text">Summary : 
        ${pesan_pengeluaran}</span><br>
        <input type="hidden" id="tahun_nota" value="${tahun}">
        <input type="hidden" id="kategori_nota" value="summary">
    `;
    // Tampilkan modal
    showModal(`Summary RAB tahun ${tahun}`, modalContent);
}
function hapus_tahun(){
    $("#modal-submit").show()
  showModal("Hapus Tahun",
            `<span class="mb-2">Keterangan: Pilih data tahun berapa yang mau dihapus</span>
              <select class="form-select" id="tahun_hps" name="educationDate">
                <option value="semua_tahun" selected>Semua Tahun</option>
                {% for i in tahun %}
                <option value="{{i.tahun}}">{{i.tahun}}</option>
                {% endfor %}
              </select>`,
          function() {
          var tahun = $("#tahun_hps").val();
          $("#delete").html("Loading ...");
          $.ajax({
            url: "/admin/hapus_dana_new",
            method: 'DELETE',
            headers: {'Authorization': 'Bearer ' + "{{ session['jwt_token'] }}"},
            data: { tahun: tahun },
            dataType: 'json',
            success: function(data) {
              handleResponse(data, "hapus", "/admin/dana");
            }
          });
          event.preventDefault();
    })
}

  function edit(tahun_lama, category, id, no, uraian, anggaran,type, tanggal,keterangan,nominal,alokasi ) {
    $("#modal-submit").show()
    showModal(
        `Edit Data ${category}`,
        `<form><input type="hidden" id="tahun_lama_baris" value="${tahun_lama}">
        <input type="hidden" id="kategori_baris" value="${category}"> 
        <div class="form-group"> <label for="no">No</label> <input type="number" value="${no}" id="no_baris" class="form-control"> </div>
        ${category === 'anggaran' ? `
        <div class="form-group"> <label for="uraian">Uraian</label> <input type="text" id="uraian_baris" value="${uraian}" class="form-control"> </div>
        <div class="form-group"> <label for="anggaran">Anggaran</label> <input type="text" oninput="formatRupiah(this)" placeholder="0" id="anggaran_baris" value="${anggaran}" class="form-control"> </div>
        <div class="form-group">
            <label for="type">Type</label>
            <select class="form-select" id="typedropdownSelect">
                <option value="pengeluaran" ${type === 'pengeluaran' ? `selected`:``}>Pengeluaran</option>
                <option value="pendapatan" ${type === 'pendapatan' ? `selected`:``}>Pendapatan</option>
            </select>
        </div>` : `
        <div class="form-group"> <label for="tanggal">Tanggal</label> <input type="date" id="tanggal_baris" value="${tanggal}" class="form-control"> </div>
        <div class="form-group"> <label for="keterangan">Keterangan</label> <input type="text" id="keterangan_baris" value="${keterangan}" class="form-control"> </div>
        <div class="form-group"> <label for="nominal">Nominal</label> <input type="text" oninput="formatRupiah(this)" placeholder="0" id="nominal_baris" value="${nominal}" class="form-control"> </div>
        <div class="form-group">
            <label for="alokasi">Alokasi</label>
            <select class="form-select" id="alokasidropdownSelect">
                   {% for i in info_list %}
                        <option value="{{ i.id }}-{{ i.uraian }}" ${alokasi === '{{ i.uraian }}' ? `selected`:``}>{{ i.uraian }}</option>
                   {% endfor %}
            </select>
        </div>`}
        <div class="form-group"> <label for="tahun">Tahun</label> <input type="number"min="1000" max="9999" id="tahun_baris" value="${tahun_lama}" class="form-control"> </div></form>`,
        function() {
             // Siapkan data untuk dikirim berdasarkan kategori
            const data = {
                tahun_lama: $("#tahun_lama_baris").val(),
                kategori: $("#kategori_baris").val(),
                no: $("#no_baris").val(),
                id: id,
                tahun_baru: $('#tahun_baris').val(),
                rab: 0
            };

            // Jika kategori adalah 'Anggaran', tambahkan data terkait Anggaran
            if (category === 'anggaran') {
                data.uraian = $('#uraian_baris').val();
                data.anggaran = normalizeValue($('#anggaran_baris').val());
                data.type = $('#typedropdownSelect').val();
            } else {
                // Jika kategori bukan 'Anggaran', tambahkan data terkait transaksi lainnya
                data.tanggal = $('#tanggal_baris').val();
                data.keterangan = $('#keterangan_baris').val();
                data.nominal = normalizeValue($('#nominal_baris').val());
                data.alokasi_lama = alokasi;
                data.alokasi = $('#alokasidropdownSelect').val();
            }
        handleAjax(
          '/admin/dana_new/edit/id',
          'PUT',
          data,
          function(response) { window.location.reload();},
          function(xhr, status, error) { console.error("Error:", error); console.log(xhr.responseText); alert("Error :"+error) }
        );
      }
    );
  }

  function hapus(tahun, category, id) {
    if (confirm(`Are you sure you want to delete ${category} for ${tahun}?`)) {
      handleAjax(
        '/admin/dana_new/hapus/id',
        'DELETE',
        { tahun: tahun, category: category, id: id },
        function() { window.location.reload(); },
        function(xhr, status, error) { console.error("Error:", error); }
      );
    } else {
      alert('Aksi penghapusan dibatalkan.');
    }
  }
  function formatRupiah(input) {
    let angka = input.value.replace(/[^,\d]/g, ''); // Menghapus semua karakter selain angka dan koma
    if (angka) {
        let hasil = Number(angka.replace(/,/g, '')).toLocaleString('id-ID'); // Format angka sesuai Indonesia
        input.value = hasil;
    } else {
        input.value = ''; // Jika input tidak valid (semua dihapus), set ke string kosong
    }
}
function normalizeValue(value) {
    return value.replace(/\./g, ''); // Menghapus semua titik dari value yang diformat
}
     function formatNumber(number) {
        // Mengubah angka menjadi string dan memisahkan bagian desimal
        var parts = number.toString().split(".");
        // Memformat bagian ribuan dengan titik
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        // Mengembalikan string yang diformat dengan koma sebagai desimal
        return parts.join(","); 
    }
    function calculateTotal(className) {
        var elements = document.querySelectorAll('.' + className);
        console.log(elements)
        var total = 0;
        elements.forEach(function(element) {
          console.log(element)
            var value = parseFloat(element.getAttribute('data')) || 0; // Mengambil nilai dan konversi ke float
            console.log(value)
            total += value; // Menambahkan nilai ke total
        });
        total = formatNumber(total.toFixed(2))

        return "Rp"+total; // Mengembalikan total dengan 2 desimal
    }
    function tambah_nota(id_transaksi) {
      console.log(id_transaksi)
      var jdl = $('#judulNotabaru' + id_transaksi,).val() 
      let formData = new FormData(); 
      jQuery.each(jQuery('#formFilebaru' + id_transaksi)[0].files, function (i, file) { 
        formData.append('gambar', file); }); 
        formData.append('judul', jdl); 
        formData.append('id_transaksi', id_transaksi); 
       $.ajax({
        url: '/admin/tambah_Nota',
        method: 'POST', type: 'POST',
        headers: {
          'Authorization': 'Bearer ' + "{{ session['jwt_token'] }}",
        },
        data: formData, cache: false, 
        contentType: false, processData: false,
      }).done(function (response) {
        handleResponse(response,"tambah","/admin/dana")
      }).fail(function (error) {
        
      });
   
    }
    function edit_Nota(id){ 
      var editjdl = $('#editjudulNota-' + id,).val() 
      var reset = $('#reset-'+id).prop('checked'); 
      let formData = new FormData(); 
      formData.append('id', id); formData.append('judul', editjdl); 
      jQuery.each(jQuery('#editformFilebaru-' + id)[0].files, function (i, file) { 
        formData.append('gambar', file); }); 
        formData.append('reset', reset); 
        $.ajax({ url: '/admin/edit_Nota', 
        data: formData, cache: false, 
        contentType: false, processData: false,
         method: 'PUT', type: 'PUT',
          headers: { 'Authorization': 'Bearer ' + '{{ session['jwt_token'] }}', }, 
          }).done(
            function (data) { handleResponse(data,'edit','/admin/dana'); }
            ); }
    function detail_nota(gambar,judul){ 
 showModal("",`<img class='w-100' src='/static/image/${gambar}'> <h2>${judul}</h2>`);
     }
      function hapusNota(id) {
         if (confirm(`Are you sure you want to delete this ?`)) {
       $.ajax({
        url: '/admin/hapus_Nota',
        method: 'DELETE',
        headers: {
          'Authorization': 'Bearer ' + "{{ session['jwt_token'] }}",
        },
        data: { id: id },
        dataType: 'json',
      }).done(function (response) {
        handleResponse(response,"hapus","/admin/dana")
      }).fail(function (error) {
        
      });
    } else {
      alert('Aksi penghapusan dibatalkan.');
    }
    }
</script>
{% endblock %}
{% block content %}
<div class="page-titles">
  <div class="row">
    <div class="col-lg-8 col-md-6 col-12 align-self-center">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0 d-flex align-items-center">
          <li class="breadcrumb-item">
            <a href="index.html" class="link">
              <i class="ri-home-3-line fs-5"></i>
            </a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Dana Desa</li>
        </ol>
      </nav>
      <h1 class="mb-0 fw-bold">Dana Desa</h1>
    </div>
    <div class="col-lg-4 col-md-6 d-md-flex align-items-center justify-content-end">
      <a href="javascript:void(0)" class="btn btn-danger d-flex align-items-center ms-2" onclick="hapus_tahun()">Hapus Tahun</a>
      <a href="javascript:void(0)" class="btn btn-info d-flex align-items-center ms-2" onclick="tambahBaris3()">
        <i class="ri-add-line me-1"></i> Tambah Data
      </a>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="border-bottom title-part-padding">
          <h4>Dana Desa Tahun:</h4>
          <div class="col-sm-3">
            <div class="mb-3">
              <select class="form-select" id="tahun_dana" name="educationDate">
                <option value="tahun" selected>Semua Tahun</option>
                {% for i in tahun %}
                  <option value="{{ i.tahun }}">{{ i.tahun }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <div class="card-body">
          {% set jml_realisasi = 0 %}  
          {% for h in tahun %}
            <div id="table_{{ h.tahun }}" class="mt-3">
              <h4>Dana Desa Tahun {{ h.tahun }}</h4>
              {% for x in summary %}
                {% if x.tahun == h.tahun %}
                  <button type="button" class="btn btn-warning mr-3" onclick="summary(
                    '{{ h.tahun }}',
                    '{{ x.summary_pendapatan }}',
                    '{{ x.jml_anggaran_pendapatan  |format_currency }}', 
                    '{{ x.jml_realisasi_pendapatan  |format_currency }}', 
                    '{{ x.jml_lebih_kurang_pendapatan }}',
                    '{{ x.summary_pengeluaran }}',
                    '{{ x.jml_anggaran_pengeluaran  |format_currency}}', 
                    '{{ x.jml_realisasi_pengeluaran  |format_currency}}', 
                    '{{ x.jml_lebih_kurang_pengeluaran }}')">Summary</button>
                {% endif %}
              {% endfor %}
              {% set categories = [('Anggaran', info_list), ('Transaksi', info_list2), ('Report Dana', info_list3)] %}
              {% for category, info in categories %}
                  <div class="d-flex justify-content-between align-items-center mb-2 mt-3">
                      <h6 class="mb-0">Realisasi {{ category }}</h6>
                      {% if category == "Report Dana" %}
                      {% else %}
                      <a href="javascript:void(0)" class="btn btn-info" onclick="tambahBaris('{{ category.lower() }}', {{ h.tahun }})">Tambah Baris</a>
                      {% endif %}
                  </div>
                  
                  <!-- Apply max-height for Transaksi table -->
                  <div class="table-responsive {% if category == 'Transaksi','Anggaran','Report Dana'  %}scroll-table{% endif %}">
                      <table id="table_{{ h.tahun }}_{{ loop.index }}" class="table table-bordered display text-nowrap">
                          <thead style="background-color:#f6f8fb;">
                              <tr>
                                  <th>No</th>
                                  {% if category == "Anggaran" %}
                                  <th>Uraian</th>
                                  <th>Anggaran</th>
                                  <th>Type</th>
                                  <th>Tahun</th>
                                  <th>Aksi</th>
                                  {% elif category == "Transaksi" %}
                                  <th>Tanggal</th>
                                  <th>Keterangan</th>
                                  <th>Nominal</th>
                                  <th>Alokasi</th>
                                  <th>Aksi</th>
                                  {% elif category == "Report Dana" %}
                                  <th>Uraian</th>
                                  <th>Estimasi / Anggaran</th>
                                  <th>Realisasi</th>
                                  <th>Tahun</th>
                                  {% endif %}
                              </tr>
                          </thead>
                          <tbody>
                              {% for i in info %}
                                  {% if h.tahun == i.tahun %}
                                  <tr class="{{ i.class }} data-utama" id="{{ i.detail }}">
                                      <td>{{ i.no }}</td>
                                      {% if category == "Anggaran" %}
                                      <td>{{ i.uraian }} </td>
                                      <td class="anggaran_{{ category.lower() }}_{{ h.tahun }}" data="{{ i.anggaran | clean_currency }}">{{ i.anggaran | clean_currency | format_currency }}</td>
                                      <td>{{ i.type }}</td>
                                      <td>{{ i.tahun }}</td>
                                      <td>
                                        <button onclick="edit({{ i.tahun }}, '{{ category.lower() }}', {{ i.id }}, '{{ i.no }}', '{{ i.uraian }}', '{{ i.anggaran }}', '{{ i.type }}', '','','','')" class="btn btn-warning">Edit</button>
                                        <button onclick="hapus({{ i.tahun }}, '{{ category.lower() }}', {{ i.id }})" class="btn btn-danger">Hapus</button>
                                      </td>
                                      {% elif category == "Transaksi" %}
                                      <td>{{ i.tanggal }} </td>
                                      <td>{{ i.keterangan }}</td>
                                      <td>{{ i.nominal | clean_currency | format_currency }}</td>
                                      <td>{{ i.alokasi }}</td>
                                      <td>
                                      <button data-bs-toggle="modal" data-bs-target="#modal-{{ i.id }}" class="btn btn-success">Nota</button>
                                        <button onclick="edit({{ i.tahun }}, '{{ category.lower() }}', {{ i.id }}, '{{ i.no }}', '','','','{{ i.tanggal }}', '{{ i.keterangan }}', {{i.nominal}}, '{{ i.alokasi }}' )" class="btn btn-warning">Edit</button>
                                        <button onclick="hapus({{ h.tahun }}, '{{ category.lower() }}', {{ i.id }})" class="btn btn-danger">Hapus</button>
                                      </td>
                                      {% elif category == "Report Dana" %}
                                      <td>{{ i.uraian }} </td>
                                      <td>{{ i.anggaran | clean_currency | format_currency }}</td>
                                      <td>{{ i.realisasi | format_currency }}</td>
                                      <td>{{ i.tahun }}</td>
                                      {% endif %}
                                  </tr>
                                  {% endif %}
                              {% endfor %}
          
                    </tbody>
                </table>
                <script>$("#table_{{ h.tahun }}_{{ loop.index }}").DataTable({
                      "paging": false,          // Menonaktifkan pagination
                "info": false,           // Menonaktifkan info jumlah entri
                "searching": true,       // Mengaktifkan fitur pencarian
                "lengthChange": false,   // Menonaktifkan pilihan jumlah entri yang ditampilkan
                "language": {
                    "search": "",          // Kosongkan label pencarian
                    "searchPlaceholder": "Cari..." // Placeholder untuk input pencarian
                },
                "dom": '<"top"f>rt'      // Menempatkan form pencarian di atas tabel
                })</script>
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Nota -->
{% for transaksi in info_list2 %}
<div class="modal fade" id="modal-{{ transaksi.id }}" tabindex="-1" aria-labelledby="modal-{{ transaksi.id }}" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <h4 class="modal-title" id="myLargeModalLabel">Nota {{transaksi.keterangan}}</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="background-color:#e6f4ff">
      <div class="page-titles" style="padding-top:0px;padding-bottom:0px"> <div class="row"> <div class="col-lg-8 col-md-6 col-12 align-self-center"> </div> <div class="col-lg-4 col-md-6 d-md-flex align-items-center justify-content-end"> <a class="btn btn-info d-flex align-items-center ms-2" data-bs-toggle="modal" data-bs-target="#tambah_nota_{{ transaksi.id }}"> <i class="ri-add-line me-1"></i> Tambah Nota </a> </div> </div> </div> <br>
      <div class="container-fluid" style="background-color:#e6f4ff">
      <div class="row">
      <div class="col-12">
        <!-- Row -->
        <div class="row">
          <!-- Column -->
          {% for i in list_nota %}
          {% if i.id_transaksi == transaksi.id %}
          <div class="col-lg-3">
            <div class="card">
              {% if i.gambar == "default.jpg" %}
              {% else %}
              <img class="card-img-top img-responsive" src="../../static/image/{{i.gambar}}" alt="Card image cap" />
              {% endif %}
              <div class="card-body">
                <div class="d-flex no-block align-items-center mb-3">
                  <span class="d-flex align-items-center"><i data-feather="calendar"
                      class="feather-sm me-1"></i>{{i.tanggal}}</span>
                </div>
                <h3 class="font-weight-medium">{{i.judul}}</h3>
                <p class="mb-0 mt-2 text-muted">{{i.deskripsi|safe}}</p>
                <div class="text-end">
                  <button onclick="detail_nota('{{ i.gambar }}','{{ i.judul }}')" class="btn btn-secondary btn-rounded waves-effect waves-light mt-3">detail</button>
                  <button class="btn btn-primary btn-rounded waves-effect waves-light mt-3" data-bs-toggle="modal"
                    data-bs-target="#bs-example-modal-lg-{{i.id}}">
                    Edit
                  </button>
                  <button class="btn btn-danger btn-rounded waves-effect waves-light mt-3"
                    onclick="hapusNota('{{i.id}}')">
                    Hapus
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- Column -->                
          {% endif %}
          {% endfor %}
        </div>
        <!-- Row -->
      </div>
      </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light-danger text-danger font-weight-medium waves-effect text-start" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- Modal tambah nota -->
    <div class="modal fade" id="tambah_nota_{{ transaksi.id }}" tabindex="-1" aria-labelledby="bs-example-modal-lg"
      aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header d-flex align-items-center">
            <h4 class="modal-title" id="myLargeModalLabel">
              Tambah Nota
            </h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h4>Judul Nota</h4>
            <form>
              <div class="form-group">
                <input type="text" id="judulNotabaru{{ transaksi.id }}" class="form-control" />
              </div>
            </form>
            <h4>Input Gambar</h4>
            <form>
              <div class="input-group mb-3">
                <div class="custom-file">
                  <input class="form-control" type="file" id="formFilebaru{{ transaksi.id }}" />
                </div>
              </div>
            </form>
            </div>
          <div class="modal-footer">
            <a onclick="tambah_nota({{ transaksi.id }})" href="javascript:void(0)" class="btn btn-info d-fFlex align-items-center ms-2">
              Submit
            </a>
            <button type="button" class="btn btn-light-danger text-danger font-weight-medium waves-effect text-start"
              data-bs-dismiss="modal">
              Close
            </button>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      </div>
      <!-- Modal tambah nota -->       
{% endfor %}
{% for i in list_nota %}
 <div class="modal fade" id="bs-example-modal-lg-{{i.id}}" tabindex="-1"
                  aria-labelledby="bs-example-modal-lg" aria-hidden="true">
                  <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                      <div class="modal-header d-flex align-items-center">
                        <h4 class="modal-title" id="myLargeModalLabel1">
                          Edit Nota
                        </h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <h4>Judul Nota</h4>
                        <form>
                          <div class="form-group">
                            <input type="text" class="form-control" id="editjudulNota-{{i.id}}" value="{{i.judul}}" />
                          </div>
                        </form>
                        <h4>Input Gambar Baru</h4>
                        <form>
                          <div class="input-group mb-3">
                            <div class="custom-file">
                              <input class="form-control" type="file" hint="{{i.gambar}}" id="editformFilebaru-{{i.id}}" />
                            </div>
                          </div>
                        </form>                    
                        <label class="form-check-label" for="inlineCheckbox1">Hapus Gambar?</label>
                        <input class="form-check-input" type="checkbox" id="reset-{{i.id}}">
                        
                      </div>
                      <div class="modal-footer">
                        <button type="submit" onclick="edit_Nota({{ i.id }})"
                          class="btn btn-info d-flex align-items-center ms-2">
                          Submit
                        </button>
                        <button type="button"
                          class="btn btn-light-danger text-danger font-weight-medium waves-effect text-start"
                          data-bs-dismiss="modal">
                          Close
                        </button>
                      </div>
                    </div>
                    <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
                </div>
{% endfor %}
<!-- Modal template -->
<div class="modal fade" id="generic-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <h4 class="modal-title" id="modal-title">Title</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modal-body">...</div>
      <div class="modal-footer">
        <div class="col-lg-4 col-md-6 d-md-flex align-items-center justify-content-end">
          <a id="modal-submit" class="btn btn-info d-flex align-items-center ms-2">Submit</a>
        </div>
        <button type="button" class="btn btn-light-danger text-danger font-weight-medium waves-effect text-start" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block js %}

<script>
  $("#nama_nota").hide();
  $(document).ready(function() {
    
 $("#tahun_dana").val("tahun");
    $("#tahun_dana").change(function() {
      var data_thn = JSON.parse('{{ tahun | tojson | safe }}');
      var thn = $('#tahun_dana').val();
      console.log(data_thn)
      for (var key in data_thn) {
        console.log(key)
        var table_thn = data_thn[key].tahun;
        console.log(table_thn)
        if (table_thn == thn || thn == "tahun") {
          $('#table_' + table_thn).show();
        } else {
          $('#table_' + table_thn).hide();
        }
      }
    });
    $("#tambah").on("click", function() {
      var tahun = $('#formtahun').val();
      var formData = new FormData();
      formData.append('tahun',tahun);
      $("#tambah").html("Loading ...");
      $.ajax({
        //url: "/admin/tambah_dana",
        url: "/admin/dana_new/tambah/tahun",
        data: formData,
        cache: false,
        contentType: false,
        processData: false,
        method: 'POST',
        headers: {
          'Authorization': 'Bearer ' + "{{ session['jwt_token'] }}",
        },
        success: function(data) {
          handleResponse(data, "tambah tahun dana", "/admin/dana");
        },    
        error: function(xhr, status, error) {
          let errorMsg = xhr.responseJSON ? xhr.responseJSON.msg : "Terjadi kesalahan";
          console.log("Error: ", errorMsg); // Log pesan error
          alert("Error: "+errorMsg)
          $("#tambah").html("Submit");
        }
      });
      event.preventDefault();
    });

    $("#delete").on("click", function() {
      var tahun = $("#tahun_hps").val();
      $("#delete").html("Loading ...");
      $.ajax({
        url: "/admin/hapus_dana_new",
        method: 'DELETE',
        headers: {'Authorization': 'Bearer ' + "{{ session['jwt_token'] }}"},
        data: { tahun: tahun },
        dataType: 'json',
        success: function(data) {
          handleResponse(data, "hapus", "/admin/dana");
        }
      });
      event.preventDefault();
    });
  });
</script>
{% endblock %}
