{% extends 'include/include.html' %} {% block content %}
<div class="page-titles">
  <div class="row">
    <div class="col-lg-8 col-md-6 col-12 align-self-center">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0 d-flex align-items-center">
          <li class="breadcrumb-item">
            <a href="index.html" class="link"><i class="ri-home-3-line fs-5"></i></a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Info Desa / Monografi</li>
        </ol>
      </nav>
      <h1 class="mb-0 fw-bold">Monografi</h1>
    </div>
    <div class="col-lg-4 col-md-6 d-md-flex align-items-center justify-content-end">
      <a href="javascript:void(0)" class="btn btn-info d-flex align-items-center ms-2" data-bs-toggle="modal"
        data-bs-target="#bs-edit-modal-xlg">
        <i data-feather="edit" style="width: 18px; height: 18px; margin-right: 10px"></i>
        Edit
      </a>
      <a href="javascript:void(0)" class="btn btn-info d-flex align-items-center ms-2" data-bs-toggle="modal"
        data-bs-target="#bs-tambah-modal-xlg">
        <i data-feather="plus" style="width: 18px; height: 18px; margin-right: 10px"></i>
        Tambah Tahun
      </a>
    </div>
    <div class="modal fade" id="bs-tambah-modal-xlg" tabindex="-1" aria-labelledby="bs-example-modal-lg"
      aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header d-flex align-items-center">
            <h4 class="modal-title" id="myLargeModalLabel">
              Tambah Tahun
            </h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h4>Input Tahun</h4>
            <form>
              <div class="form-group">
                <input type="number" id="tahun_baru" class="form-control" />
              </div>
            </form>
            <div class="modal-footer">
              <button type="button" class="
                  btn btn-light-danger
                  text-danger
                  font-weight-medium
                " data-bs-dismiss="modal">
                Close
              </button>
              <button type="button" id="tambah_tahun" class="btn btn-success" data-bs-dismiss="modal">
                Simpan
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="bs-edit-modal-xlg" tabindex="-1" aria-labelledby="bs-example-modal-lg"
      aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header d-flex align-items-center">
            <h4 class="modal-title" id="myLargeModalLabel">
              Edit Data Monografi
            </h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="col-sm-3">
              <div class="mb-3">
                <input type="hidden" name="tahun">
                <select class="form-select" id="tahun" name="selected_tahun">
                  {% for i in info_mono :%}
                  {% if loop.first%}
                  <option value="{{i.tahun}}" clicked>{{i.tahun}}</option>
                  {% else %}
                  <option value="{{i.tahun}}">{{i.tahun}}</option>
                  {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-horizontal">
              <div class="card-body">
                <input type="hidden" name="Authorization" value="Bearer {{ session['jwt_token'] }}">
                <input type="hidden" class="form-control" name="id" value="{{info_mono[0]['id']}}" />
                <h4 class="card-title">Kependudukan</h4>
                <div class="mb-3 row">
                  <label for="cono" class="rata-kiri-mobile col-sm-3  control-label col-form-label">Jumlah
                    Penduduk</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="jpenduduk" value=" {{info_mono[0]['jpenduduk']}}" />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="cono" class="rata-kiri-mobile col-sm-3  control-label col-form-label">Jumlah KK</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="jkk" value="{{info_mono[0]['jkk']}}" />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="cono1" class="rata-kiri-mobile col-sm-3  control-label col-form-label">Laki-Laki</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="laki" value="{{info_mono[0]['laki']}}" />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="cono1" class="rata-kiri-mobile col-sm-3  control-label col-form-label">Perempuan</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="perempuan" value="{{info_mono[0]['perempuan']}}" />
                  </div>
                </div>
              </div>
              <div class="card-body">
                <h4 class="card-title">Kesejahteraan Sosial</h4>
                <div class="mb-3 row">
                  <label for="com1" class="rata-kiri-mobile col-sm-3  control-label col-form-label">Jumlah KK
                    Prasejahtera</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="jkkprese" value="{{info_mono[0]['jkkprese']}}" />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="com1" class="rata-kiri-mobile col-sm-3  control-label col-form-label">Jumlah KK
                    Sejahtera</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="jkkseja" value="{{info_mono[0]['jkkseja']}}" />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="com1" class="rata-kiri-mobile col-sm-3  control-label col-form-label">Jumlah KK
                    Kaya</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="jkkkaya" value="{{info_mono[0]['jkkkaya']}}" />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="com1" class="rata-kiri-mobile col-sm-3  control-label col-form-label">Jumlah KK
                    Sedang</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="jkksedang" value="{{info_mono[0]['jkksedang']}}" />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="com1" class="rata-kiri-mobile col-sm-3  control-label col-form-label">Jumlah KK
                    Miskin</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="jkkmiskin" value="{{info_mono[0]['jkkmiskin']}}" />
                  </div>
                </div>
              </div>
              <div class="card-body">
                <h4 class="card-title">Pekerjaan</h4>
                <div class="mb-3 row">
                  <label for="com1" class="rata-kiri-mobile col-sm-3  control-label col-form-label">Buruh</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="jkkprese" value="{{info_mono[0]['buruh']}}" />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="com1" class="rata-kiri-mobile col-sm-3  control-label col-form-label">Petani</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="petani" value="{{info_mono[0]['petani']}}" />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="com1" class="rata-kiri-mobile col-sm-3  control-label col-form-label">Peternak</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="peternak" value="{{info_mono[0]['peternak']}}" />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="com1" class="rata-kiri-mobile col-sm-3  control-label col-form-label">Pedagang</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="pedagang" value="{{info_mono[0]['pedagang']}}" />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="com1" class="rata-kiri-mobile col-sm-3  control-label col-form-label">Tukang Kayu</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="tukangkayu" value="{{info_mono[0]['tukangkayu']}}" />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="com1" class="rata-kiri-mobile col-sm-3  control-label col-form-label">Tukang Batu</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="tukangbatu" value="{{info_mono[0]['tukangbatu']}}" />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="com1" class="rata-kiri-mobile col-sm-3  control-label col-form-label">Penjahit</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="penjahit" value="{{info_mono[0]['penjahit']}}" />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="com1" class="rata-kiri-mobile col-sm-3  control-label col-form-label">Pegawai
                    Sipil/Polisi/Tentara</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="asn" value="{{info_mono[0]['asn']}}" />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="com1" class="rata-kiri-mobile col-sm-3  control-label col-form-label">Pensiunan</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="pensiunan" value="{{info_mono[0]['pensiunan']}}" />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="com1" class="rata-kiri-mobile col-sm-3  control-label col-form-label">Perangkat
                    desa</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="perangkatdesa"
                      value="{{info_mono[0]['perangkatdesa']}}" />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="com1" class="rata-kiri-mobile col-sm-3  control-label col-form-label">Jasa /
                    Wiraswasta</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="jasa_wiraswasta"
                      value="{{info_mono[0]['jasa_wiraswasta']}}" />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="com1" class="rata-kiri-mobile col-sm-3  control-label col-form-label">Pengrajin
                    Batik</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="pengrajinbatik"
                      value="{{info_mono[0]['pengrajinbatik']}}" />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="com1" class="rata-kiri-mobile col-sm-3  control-label col-form-label">Dll</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="dll" value="{{info_mono[0]['dll']}}" />
                  </div>
                </div>
              </div>
              <div class="card-body">
                <h4 class="card-title">Agama</h4>
                <div class="mb-3 row">
                  <label for="com1" class="rata-kiri-mobile col-sm-3  control-label col-form-label">Islam</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="islam" value="{{info_mono[0]['islam']}}" />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="com1" class="rata-kiri-mobile col-sm-3  control-label col-form-label">Kristen</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="kristen" value="{{info_mono[0]['kristen']}}" />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="com1" class="rata-kiri-mobile col-sm-3  control-label col-form-label">Protestan</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="protestan" value="{{info_mono[0]['protestan']}}" />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="com1" class="rata-kiri-mobile col-sm-3  control-label col-form-label">Katolik</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="katolik" value="{{info_mono[0]['katolik']}}" />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="com1" class="rata-kiri-mobile col-sm-3  control-label col-form-label">Hindu</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="hindu" value="{{info_mono[0]['hindu']}}" />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="com1" class="rata-kiri-mobile col-sm-3  control-label col-form-label">Budha</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="budha" value="{{info_mono[0]['budha']}}" />
                  </div>
                </div>
              </div>
              <div class="p-3 border-top">
                <div class="text-end">
                  <button id="kirim" type="button" name="submit"
                    class=" btn btn-info rounded-pill px-4 waves-effect waves-light "> Save edit </button>
                  <button type="button" onclick="hapusMono()"
                    class=" btn btn-danger rounded-pill px-4 waves-effect waves-light "> Hapus Data </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <!-- ============================================================= -->
  <!-- Start Page Content -->
  <!-- ============================================================= -->
  <!-- Row -->
  <div class="row">

    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="d-md-flex align-items-center">
            <div>
              <h3 class="card-title">Monografi desa</h3>
              <h6 class="card-subtitle">Grafik perbandingan menografi desa per tahun</h6>
            </div>
            <div class="ms-auto">
              <ul class="list-style-none">
                <div class="container-fluid">
                  <div class="row mb-4">
                    <div class="col-lg-6">
                      <label for="categoryDropdown">Pilih Kategori:</label>
                      <select id="categoryDropdownmono" style="min-width: 150px;" class="form-control" multiple>
                          <option value="jpenduduk">Jumlah Penduduk</option>
						  <option value="laki">laki-laki</option>
						  <option value="perempuan">Perempuan</option>
						  <option value="jkkprese">Jumlah KK Presejahtera</option>
						  <option value="jkkseja">Jumlah KK Sejahtera</option>
						  <option value="jkkkaya">Jumlah KK Kaya</option>
						  <option value="jkksedang">Jumlah KK Sedang</option>
						  <option value="jkkmiskin">Jumlah KK Miskin</option>
						  <option value="buruh">Buruh</option>
						  <option value="petani">Petani</option>
						  <option value="peternak">Peternak</option>
						  <option value="pedagang">Pedagang</option>
						  <option value="tukangkayu">Tukang Kayu</option>
						  <option value="tukangbatu">Tukang Batu</option>
						  <option value="penjahit">Penjahit</option>
						  <option value="asn">ASN</option>
						  <option value="pensiunan">Pensiunan</option>
						  <option value="perangkatdesa">Perangkat Desa</option>
						  <option value="jasa_wiraswasta">Jasa Wiraswasta</option>
						  <option value="pengrajinbatik">Pengrajin Batik</option>
						  <option value="dll">DLL</option>
						  <option value="islam">Islam</option>
						  <option value="kristen">Kristen</option>
						  <option value="protestan">Protestan</option>
						  <option value="katolik">Katolik</option>
						  <option value="hindu">Hindu</option>
						  <option value="budha">Budha</option>
                      </select>
                    </div>
                    <div class="col-lg-6">
                      <label for="yearDropdown">Pilih Tahun:</label>
                      <select id="yearDropdownmono" class="form-control" multiple>
                        {% for item in info_mono %}
                        <option value="{{ item.tahun }}">{{ item.tahun }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
              </ul>
            </div>
          </div>
          <div class="table-responsive">
            <div id="chart_mono" class="mt-4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}
{% block js%}
<script>
var data = JSON.parse('{{info_mono|tojson}}');

// label yg akan ditampilkan di grafik
var fields_mono = [
  'Jumlah Penduduk', 'Jumlah Kepala Keluarga', 
  'laki-laki', 'Perempuan', 
  'Jumlah KK Presejahtera', 'Jumlah KK Sejahtera', 
  'Jumlah KK Kaya', 'Jumlah KK Sedang', 'Jumlah KK Miskin',
  'Buruh', 'Petani', 'Peternak', 'Pedagang', 
  'Tukang Kayu', 'Tukang Batu', 'Penjahit', 
  'ASN', 'Pensiunan', 'Perangkat Desa', 
  'Jasa Wiraswasta', 'Pengrajin Batik', 'DLL', 
  'Islam', 'Kristen', 'Protestan', 'Katolik', 'Hindu', 'Budha'
];

// mapping data
const mapping = {
  "jpenduduk": "Jumlah Penduduk",
  "laki": "laki-laki",
  "perempuan": "Perempuan",
  "jkkprese": "Jumlah KK Presejahtera",
  "jkkseja": "Jumlah KK Sejahtera",
  "jkkkaya": "Jumlah KK Kaya",
  "jkksedang": "Jumlah KK Sedang",
  "jkkmiskin": "Jumlah KK Miskin",
  "buruh": "Buruh",
  "petani": "Petani",
  "peternak": "Peternak",
  "pedagang": "Pedagang",
  "tukangkayu": "Tukang Kayu",
  "tukangbatu": "Tukang Batu",
  "penjahit": "Penjahit",
  "asn": "ASN",
  "pensiunan": "Pensiunan",
  "perangkatdesa": "Perangkat Desa",
  "jasa_wiraswasta": "Jasa Wiraswasta",
  "pengrajinbatik": "Pengrajin Batik",
  "dll": "DLL",
  "islam": "Islam",
  "kristen": "Kristen",
  "protestan": "Protestan",
  "katolik": "Katolik",
  "hindu": "Hindu",
  "budha": "Budha"
};

// Mengambil tahun dari data
var tahun = data.map(item => item.tahun);

// Mengambil data untuk grafik
var seriesData_mono = [];
fields_mono.forEach(field => {
  var key = Object.keys(mapping).find(k => mapping[k] === field);
  var dataField = data.map(item => item[key]);
  seriesData_mono.push({
    name: field,
    data: dataField
  });
});

// Membuat opsi grafik
var options_mono = {
  series: seriesData_mono,
  chart: {
    type: "bar",
    height: 260,
    toolbar: {
      show: false,
    },
  },
  plotOptions: {
    bar: {
      horizontal: false,
      columnWidth: "42%",
      endingShape: "rounded",
      borderRadius: 5,
    },
  },
  dataLabels: {
    enabled: false,
  },
  xaxis: {
    categories: tahun,
  },
  yaxis: {
    show: true,
  },
  stroke: {
    show: true,
    width: 5,
    colors: ["transparent"],
  },
  tooltip: {
    theme: "dark",
  },
};

// Membuat dan merender grafik
var chart_mono = new ApexCharts($("#chart_mono")[0], options_mono);
chart_mono.render();
var dataByYear_mono = {};
data.forEach(item => {
  if (!dataByYear_mono[item.tahun]) {
    dataByYear_mono[item.tahun] = {};
  }
  Object.keys(mapping).forEach(key => {
    dataByYear_mono[item.tahun][key] = item[key];
  });
});

// Fungsi untuk mengambil nilai yang dipilih dari dropdown
function getSelectedValues(selectElement) {
  var selected = [];
  $(selectElement).find('option:selected').each(function () {
    selected.push($(this).val());
  });
  return selected;
}

// Fungsi untuk memperbarui grafik
function updateChart() {
  var yearDropdown = $("#yearDropdownmono");
  var categoryDropdown = $("#categoryDropdownmono");
  var selectedYears = getSelectedValues(yearDropdown);
  var selectedCategories = getSelectedValues(categoryDropdown);
  var newSeriesData = [];
  selectedYears.forEach(year => {
    var seriesData = [];
    selectedCategories.forEach(category => {
      seriesData.push(dataByYear_mono[year][category] || 0);
    });
    newSeriesData.push({
      name: year,
      data: seriesData
    });
  });
  chart_mono.updateOptions({
    series: newSeriesData,
    xaxis: {
      categories: selectedCategories.length > 0 ? selectedCategories : Object.keys(mapping)
    }
  });
}

// Event listener untuk dropdown
$("#yearDropdownmono").on('change', function () {
  updateChart();
});

$("#categoryDropdownmono").on('change', function () {
  updateChart();
});

// Fungsi untuk menghandle perubahan tahun
function change() {
  var value = $('#tahun').val();
  data.forEach(field => {
    $(`[name=${field}]`).val(data.find(item => item.tahun == value)[field]);
  });
}

// Event listener untuk dropdown tahun
$('#tahun').on('change', function () {
  change();
});
// Fungsi untuk mengurutkan tahun
function sort_tahun() {
  var selectElement = document.getElementById('tahun');
  var optionsArray = Array.from(selectElement.options);
  optionsArray.sort(function (a, b) {
    return a.value - b.value;
  });
  selectElement.innerHTML = '';
  optionsArray.forEach(function (option) {
    selectElement.appendChild(option);
  });
  change();
}
    $('#tambah_tahun').on('click', function () {
      var selectElement = document.getElementById('tahun');
      var Option = document.createElement('option');
      var tahun_baru = $('#tahun_baru').val()
      Option.value = tahun_baru;
      Option.text = tahun_baru;
      selectElement.add(Option);
      sort_tahun()
    });
    sort_tahun()
    $('#kirim').on('click', function () {
      let formData = new FormData();
      fields.forEach(function (field) {
        var value = $(`[name=${field}]`).val();
        formData.append(field, value);
      });
      var value = $('#tahun').val()
      formData.append('selected_tahun', value);
      var submit = $(`[name='submit']`).val();
      if (submit == "edit") {
        $.ajax({
          url: "/admin/edit_mono",
          data: formData,
          cache: false,
          contentType: false,
          processData: false,
          method: 'PUT',
          type: 'PUT',
          headers: {
            'Authorization': 'Bearer ' + "{{ session['jwt_token'] }}"
          },
        }).done(function (response) {
          handleResponse(response, "edit", "/admin/monografi");
        }).fail(function (error) {
          console.error(error);
        });
      } else if (submit == "tambah") {
        $.ajax({
          url: "/admin/tambah_mono",
          data: formData,
          cache: false,
          contentType: false,
          processData: false,
          method: 'POST',
          type: 'POST',
          headers: {
            'Authorization': 'Bearer ' + "{{ session['jwt_token'] }}"
          },
        }).done(function (response) {
          handleResponse(response, "tambah", "/admin/monografi");
        }).fail(function (error) {
          console.error(error);
        });
      } else {
        alert("error");
      }
    });
</script>
<script>
  function hapusMono() {
    var result = confirm("Apakah Anda yakin?");
    if (result) {
      var value = $('[name=id]').val()
      $.ajax({
        url: '/admin/hapus_mono',
        method: 'DELETE',
        headers: {
          'Authorization': 'Bearer ' + "{{ session['jwt_token'] }}"
        },
        data: {
          id: value
        },
        dataType: 'json',
      }).done(function (response) {
        handleResponse(response, "menghapus", "/admin/monografi");
      }).fail(function (error) {
        console.error(error);
      });
    }
  }
</script>
{% endblock %}